.game-app {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.game-app ol,
.game-app ul {
    padding-left: 30px;
}

.game-app .board-row:after {
    clear: both;
    content: "";
    display: table;
}

.game-app .status {
    margin-bottom: 10px;
}

.game-app .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.game-app .square:focus {
    outline: none;
}

.game-app .kbd-navigation .square:focus {
    background: #ddd;
}

.game-app .game-info {
    margin-left: 20px;
}

